.about-header {
  background-color: var(--ion-color-dark);
  padding: 16px;
  width: 100%;
  text-align: center;
}

.about-header img {
  max-width: 200px;
  padding: 25px 5px 20px 0;
}

.about-info p {
  color: var(--ion-color-medium);
  text-align: left;
}

.about-info ion-icon {
  color: var(--ion-color-primary);
}

.ios .about-info {
  text-align: center;
}

.chart-wrapper {
  width: 95%;
  display: inline-block;
  margin: 1em 2em;
}


canvas  {
  height: 500px !important;
  width: 100% !important;
}
.powerbi-em
{
  height: 100%;
}
// .scroll 
// {
//   overflow-x: scroll;
// }
.padding
{
  -webkit-padding-start: var(--ion-padding, 0px);
    padding-inline-start: var(--ion-padding, 0px);
    -webkit-padding-end: var(--ion-padding, 0px);
    padding-inline-end: var(--ion-padding, 0px);
    --padding-start: var(--ion-padding, 0px);
    --padding-end: var(--ion-padding, 0px);
    --padding-top: var(--ion-padding, 0px);
    --padding-bottom: var(--ion-padding, 0px);
    padding-left: var(--ion-padding, 0px);
    padding-right: var(--ion-padding, 0px);
    padding-top: var(--ion-padding, 0px);
    padding-bottom: var(--ion-padding, 0px);
}